<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASFEnhanceTools.Properties.GlobalConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASFEnhanceTools.Properties.GlobalConfig>
            <setting name="IPCAddress" serializeAs="String">
                <value>http://127.0.0.1:1242</value>
            </setting>
            <setting name="IPCPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
        </ASFEnhanceTools.Properties.GlobalConfig>
    </userSettings>
</configuration>